body{
background-color:  beige;
<!-- esto no queda lindo -->
background-image: url(../imagenes/patron-cocina.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
background-size: cover;
<!-- no me gusta -->
font-size: 12;
padding: 5%;
text-align: justify;
justify-content: center;
bottom: 5%;
}

.titulo {
  color:purple;
  font-family: 'Fuzzy Bubbles', cursive;
  font-size: 24;
  text-decoration: underline;
  text-decoration-style: dotted;
  margin-left: 40px;
}
#nombre {
  font-family: 'Fuzzy Bubbles', cursive;
  color: beige;
  text-decoration: overline;
  background-color: #AF7AC5;
font-size: 36;
text-align: center;
}

.foto {
  width: 10cm;
  float: left;
  margin-right: 10px;
  border-width: 10px;
  border-style: solid;
  border-radius: 10px;
  border-color:  #AF7AC5;
}
.descripcion{
  display: inline-block;
  vertical-align: top;
}

.marco{
width:30%;
height: auto;
object-fit: scale-down;
border-width: 10px;
border-style: solid;
border-radius: 10px;
border-color:  #AF7AC5;
display: inline-block;
float: left;
margin-right: 5%;
margin-bottom: auto;
}
