body{
background-color:  beige;
font-size: 12;
padding: 5%;
text-align: justify;
justify-content: auto;
}

.titulo {
  color:purple;
  font-family: 'Fuzzy Bubbles', cursive;
  font-size: 24;
  text-decoration: underline;
  text-decoration-style: dotted;
  margin-left: 40px;
}
#nombre {
  font-family: 'Fuzzy Bubbles', cursive;
  color: beige;
  text-decoration: overline;
  background-color: #AF7AC5;
font-size: 36;
text-align: center;
}

.foto {
  width: 10cm;
  float: left;
  margin-right: 10px;
}
.descripcion{
  display: inline-block;
  vertical-align: top;
}

audio {
  color: #AF7AC5;
}

.marco{
width:30%;
height: auto;
object-fit: scale-down;
}
