body{
background-color:  beige;
text-align: justify;
margin-top: 0%;
}

header {
display: flex;
  height: 200px;
  width: 100%;
  background-image: url(../imagenes/patron-cocina.png);
}
.logo{
  width: 20%;
  display: flex;
  justify-content: flex-start;

}
.nombre-pag{
  width: 80%;
  color: #7B249F;
  font-family: 'Fredoka One', cursive;
  font-size: 150%;
  font-weight: bolder;
  text-shadow: 3px 2px 20px pink, 1px 1px 5px purple;
display: flex;
  align-items: center;
  justify-content: center;
}

.caja-redes{
  width: 25%;
  display: flex;
justify-content: flex-end;
justify-content: space-around;
align-self: flex-end;
}

nav  {
  display: flex;
  justify-content: flex-end;
  font-family: 'Ultra', serif;
}
.acceso-directo{
  background-color: #AF7AC5;
  color: beige;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  border: 2px black solid;
}

article {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.derecha {
width: 70%;
}

.izquierda {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-wrap: wrap;
}

aside {
  font-family: 'Fredoka One', cursive;
  color: #AF7AC5;
}

.titulo-entrada {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Fredoka One', cursive;
  color: beige;
  text-decoration: overline;
  background-color: #AF7AC5;
font-size: 36;
text-align: center;

}

.titulo {
  color:purple;
  font-family: 'Ultra', serif;
  font-size: 24;
  text-decoration: underline;
  text-decoration-style: solid;
  margin-left: 40px;
}

.foto {
  width: 10cm;
  float: left;
  margin-right: 10px;
  border-width: 10px;
  border-style: solid;
  border-radius: 10px;
  border-color:  #AF7AC5;
}
.descripcion{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;

}

#saludo{
  text-align: center;
  font-size: 20px;
  font-family: 'Fredoka One', cursive;
  color: #7B249F;
  font-style: italic;
  font-weight: bolder;
}

.redes{
  width: 30px;
}

.marco{
  width: 8cm;
height: auto;
object-fit: scale-down;
border-width: 10px;
border-style: solid;
border-radius: 10px;
border-color:  #AF7AC5;

margin-top: 20px;
margin-bottom: 20px;
}

footer {
  width: 100%;
  height: auto;
  display: flex;
}

.datos-desarrollador {
  width: 25%;
  display: flex;
  justify-content: flex-end;
}

.de-donde-soy {
width: 30%;
display: flex;
justify-content: flex-start;
}


#wsp{
  position: fixed;
  bottom: 20px;
  right:5px;
  width: 50px;
}
